<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.mikelxc.enable.sidecar</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>3E554F3A-9D95-4D8B-9797-FDE6FDA14DCD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8E798F34-13D0-404E-A5F7-0B08486DA86D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5749AC31-EEFD-41C1-A8A1-FD264595CB7B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D5EC4C2B-C1AA-4935-AF52-D914564B514E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8E798F34-13D0-404E-A5F7-0B08486DA86D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5749AC31-EEFD-41C1-A8A1-FD264595CB7B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D5EC4C2B-C1AA-4935-AF52-D914564B514E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6A624865-E2B1-4AA1-B37F-79DF9493B313</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>0BDC6CE9-57EB-4AA4-BA79-EC01E392A673</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A4827C34-7E2D-4895-825F-FFE6236AEE73</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Mike Liu</string>
	<key>description</key>
	<string>Learn how to connect a keyword to different actions and outputs</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Sidecar</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>sc</string>
				<key>subtext</key>
				<string>Enable iPad sidecar</string>
				<key>text</key>
				<string>Connect to Sidecar</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>3E554F3A-9D95-4D8B-9797-FDE6FDA14DCD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>tell application "System Events"	tell process "ControlCenter"		try			perform action "AXPress" of menu bar item "Control Center" of menu bar 1		on error			display dialog "Please make sure you are using macOS Big Sur and have Control Center showing on your menu bar"		end try		try			tell checkbox 6 of group 1 of group 1 of window 1				perform action "AXPress"			end tell			delay 1		on error			display dialog "Cannot find Displays in your control center"		end try		try			tell checkbox 4 of group 1 of group 1 of window 1				perform action "AXPress"			end tell		on error			display dialog "Cannot find your ipad"		end try	end tellend tell</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8E798F34-13D0-404E-A5F7-0B08486DA86D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>bash test.sh</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>5749AC31-EEFD-41C1-A8A1-FD264595CB7B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>has been enabled for you</string>
				<key>title</key>
				<string>SideCar</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>6A624865-E2B1-4AA1-B37F-79DF9493B313</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>has been turned off for you</string>
				<key>title</key>
				<string>Sidecar</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>A4827C34-7E2D-4895-825F-FFE6236AEE73</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>sidecar</string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>0BDC6CE9-57EB-4AA4-BA79-EC01E392A673</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>D5EC4C2B-C1AA-4935-AF52-D914564B514E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Use sc to toggle sidecar (it will automatically select the first iPad on your AirPlay list)</string>
	<key>uidata</key>
	<dict>
		<key>3E554F3A-9D95-4D8B-9797-FDE6FDA14DCD</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>5749AC31-EEFD-41C1-A8A1-FD264595CB7B</key>
		<dict>
			<key>xpos</key>
			<integer>385</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>6A624865-E2B1-4AA1-B37F-79DF9493B313</key>
		<dict>
			<key>xpos</key>
			<integer>565</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>8E798F34-13D0-404E-A5F7-0B08486DA86D</key>
		<dict>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>A4827C34-7E2D-4895-825F-FFE6236AEE73</key>
		<dict>
			<key>xpos</key>
			<integer>605</integer>
			<key>ypos</key>
			<integer>225</integer>
		</dict>
		<key>D5EC4C2B-C1AA-4935-AF52-D914564B514E</key>
		<dict>
			<key>xpos</key>
			<integer>425</integer>
			<key>ypos</key>
			<integer>330</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.1</string>
	<key>webaddress</key>
	<string>https://github.com/mikelxc</string>
</dict>
</plist>
